:root {
  --main-blue: #55d2eb;   /* Основной цвет */
  --dark-blue: #002B36;   /* Дополнительный темно-синий цвет для фона */
  --teal: #26A69A;        /* Вторичный бирюзовый цвет для акцентов и элементов */
  --light-yellow: #F0E68C;/* Светло-желтый цвет для выделения важных элементов */
  --amber: #FFC107;       /* Янтарный цвет для акцентных элементов */
  --white: #FFFFFF;       /* Белый цвет для основного текста */
  --light-grey: #CCCCCC;  /* Светло-серый цвет для второстепенного текста и подсказок */
}
